.aside {
    position: relative;

    .button-wrapper {
        position: absolute;
        right: 0;
        bottom: 25%;
        height: 12.5%;
        width: 50%;
        overflow: hidden;
        transform: translate3d(0,0,0);
    }

    .open-slider {
        height: 100%;
        width: 100%;
        background: black;
        color: white;
        border: none;
        font-family: 'Droid Serif';
        font-size: 40px;
        font-style: italic;
        cursor: pointer;
        transform: translateY(100%);
        transition: transform 400ms;
        will-change: transform;
    }

    &:hover .open-slider {
        transform: translateY(0);
    }
}