.nav-toggler {
	margin-left: auto;
	display: none;
	position: relative;
	z-index: 2;

	@include max(xs) {
		display: block;
	}
}

#wrapper {
	@include max(xs) {
		transition: transform 500ms;
		transform: translateY(0);	
	}

	.nav-open &{
		@include max(xs) {
			transform: translateY(50vh);
		}
	}
}