.main-nav {
	margin: 3em auto;

	a {
		font-style: italic;
		font-size: 18px;
		text-decoration: none;
		color: black;
		display: inline-block;

		&:after {
			display: block;
			width: 100%;
			content: '';
			border-top: 3px solid black;
		}

		& + a {
			margin-left: 3em;
		}
	}
}