.news-teaser {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 4rem;
}

.news-teaser--date {
	color: $grey;
	font-size: 1em / $silver;
	white-space: nowrap;
}

.news-teaser--content {
	@extend .module;

	@include max($xxs) {
		margin-top: 1.5rem;
		padding-left: 0;
		width: 100%;
	}

	@include min($xxs) {
		padding-left: 4rem;
		flex: 1;
	}
}