.product-teaser {
  margin-bottom: 3rem;

  h2 {
    position: relative;

    &:after {
      position: absolute;
      display: block;
      content: '';
      height: 0;
      left: 0;
      bottom: -0.5em;
      width: 6rem;
      border-bottom: 1px solid black;
    }
  }
}