@{
    ViewBag.Title = "Kontakt";
}

@section background {
    <div class="background-size-cover fixed hidden-xs fill" style="background-image:url(/Assets/img/blurred.jpg)"></div>
}

<div class="container bg-white box box--big">
	<h1>Kontakt</h1>
    <p>@ViewBag.Message</p>
</div>