<p class="breadcrumbs">
  <a href="" class="italic">Schreinerei</a>
  /
  <a href="" class="italic">Küchen</a>
  /
</p>
<h1>Liegende rote Kirsche &ndash; eine Herausforderung</h1>
<p class="strong h4">
    Für Sie erfüllen wir Küchenträume. Entwerfen Sie mit uns Ihre ganz persönlich und individuell gestaltete Küche. Ihre Vorstellungen werden durch uns Realität. Sie kommen mit Ihren Ideen, wir lassen uns inspirieren, beraten Sie über Material und Möglichkeiten, planen und führen aus.
</p>

<div class="row">
  <div class="col-sm-6">
    <figure>
      <img src="/Assets/img/mueller.jpg" alt="">
      <figcaption>Die Struktur der liegenden Kirsche verläuft durchgehend von Töri zu Töri.</figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure>
      <img src="/Assets/img/mueller1.jpg" alt="">
      <figcaption>Auch bei hohen Schränken ist die Struktur ununterbrochen.</figcaption>
    </figure>
  </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem soluta ipsum, quod ut veritatis nesciunt obcaecati cupiditate et laborum harum nobis, quisquam ab consectetur. Dignissimos iusto praesentium voluptatum, tempore.</p>
<blockquote>Komfort, Design und Qualität sind unsere Anforderungen an unsere Küche. Die kompetente und fachliche Beratung und die perfekte Ausführung haben diese Anforderungen erfüllt.</blockquote>