@{
    ViewBag.Title = "Willkommen";
}

<h1>
    Schreinerei Gfeller&nbsp;&ndash; Küchen, Innenausbau&nbsp;& Renovationen
</h1>
<p class="strong h4">
    Für Sie erfüllen wir Küchenträume. Entwerfen Sie mit uns Ihre ganz persönlich und individuell gestaltete Küche. Ihre Vorstellungen werden durch uns Realität. Sie kommen mit Ihren Ideen, wir lassen uns inspirieren, beraten Sie über Material und Möglichkeiten, planen und führen aus.
</p>
<div class="row">
    <article class="col-sm-6 product-teaser">
        <h2 class="h5">Engel</h2>
        <p>Aus Schwemmholz und Draht kreieren wir die beliebten Engelsfiguren.</p>
        <p>
            <a class="link" href="#">Mehr Engel</a>
        </p>
    </article>
    <article class="col-sm-6 product-teaser">
        <h2 class="h5">Innenausbau</h2>
        <p>Wünschen Sie sich eine Veränderung in Ihren Räumen? Dann sind Sie richtig bei uns.</p>
        <p>
            <a class="link" href="#">Mehr Innenausbau</a>
        </p>
    </article>
    <article class="col-sm-6 product-teaser">
        <h2 class="h5">Innenausbau</h2>
        <p>Wünschen Sie sich eine Veränderung in Ihren Räumen? Dann sind Sie richtig bei uns.</p>
        <p>
            <a class="link" href="#">Mehr Innenausbau</a>
        </p>
    </article>
    <article class="col-sm-6 product-teaser">
        <h2 class="h5">Engel</h2>
        <p>Aus Schwemmholz und Draht kreieren wir die beliebten Engelsfiguren.</p>
        <p>
            <a class="link" href="#">Mehr Engel</a>
        </p>
    </article>
</div>
<hr>
<h3>News</h3>
<article class="news-teaser">
    <div class="news-teaser--date">
        <i>06.12.2016</i>
        <br>
        <i>16:00 &ndash; 20:00</i>
    </div>
    <div class="news-teaser--content">
        <h4>Adventsmärit Lützelflüh</h4>
        <p>Besuchen Sie uns auf dem Adventsmärit in Lützelflüh, trinken Sie eine heisse Schoggi und geniessen Sie die Atmosphäre.</p>
        <p>
            <a href="#">Mehr Adventsmärit</a>
        </p>
    </div>
</article>
<article class="news-teaser">
    <div class="news-teaser--date">
        <i>06.12.2016</i>
        <br>
        <i>16:00 &ndash; 20:00</i>
    </div>
    <div class="news-teaser--content">
        <h4>Gewerbeausstellung Lützelflüh</h4>
        <p>Besuchen Sie uns auf dem Adventsmärit in Lützelflüh, trinken Sie eine heisse Schoggi und geniessen Sie die Atmosphäre.</p>
        <p>
            <a href="#">Mehr Gewerbeausstellung</a>
        </p>
    </div>
</article>
<article class="news-teaser">
    <div class="news-teaser--date">
        <i>06.12.2016</i>
        <br>
        <i>16:00 &ndash; 20:00</i>
    </div>
    <div class="news-teaser--content">
        <h4>Adventsmärit Lützelflüh</h4>
        <p>Besuchen Sie uns auf dem Adventsmärit in Lützelflüh, trinken Sie eine heisse Schoggi und geniessen Sie die Atmosphäre.</p>
        <p>
            <a href="#">Mehr</a>
        </p>
    </div>
</article>