@{
    ViewBag.Title = "Willkommen";
}
<h1>
    Schreinerei Gfeller&nbsp;&ndash; Küchen, Innenausbau&nbsp;& Renovationen
</h1>
<p class="lead">
    Für Sie erfüllen wir Küchenträume. Entwerfen Sie mit uns Ihre ganz persönlich und individuell gestaltete Küche. Ihre Vorstellungen werden durch uns Realität. Sie kommen mit Ihren Ideen, wir lassen uns inspirieren, beraten Sie über Material und Möglichkeiten, planen und führen aus.
</p>
<div class="two-cols">
    <p> <strong>Engel &ndash;</strong>
        <span>
            Aus Schwemmholz und Draht kreieren wir die beliebten Engelsfiguren.
        </span>
        <br/>
        <a href="#">Mehr Engel</a>
    </p>
    <p> <strong>Innenausbau &ndash;</strong>
        <br/>
        <span>
            Wünschen Sie sich eine Veränderung in Ihren Räumen? Dann sind Sie richtig bei uns.
        </span>
        <br/>
        <a href="#">Mehr Innenausbau</a>
    </p>
    <p>
        <strong>Innenausbau &ndash;</strong>
        <br/>
        <span>
            Wünschen Sie sich eine Veränderung in Ihren Räumen? Dann sind Sie richtig bei uns.
        </span>
        <br/>
        <a href="#">Mehr Innenausbau</a>
    </p>
    <p>
        <strong>Engel &ndash;</strong>
        <br/>
        <span>
            Aus Schwemmholz und Draht kreieren wir die beliebten Engelsfiguren.
        </span>
        <br/>
        <a href="#">Mehr Engel</a>
    </p>
</div>