@{
    ViewBag.Title = "Willkommen";
}

@section background {
    <div class="background-size-cover fixed hidden-xs fill" style="background-image:url(/Assets/img/blurred.jpg)"></div>
}

<div class="container">
    <div class="flex-grid">
        <article class="flex-item">
            <a href="#" class="flex-content bg-white hover">
                <img src="/Assets/img/locker.jpg" alt="">
                <div class="box">
                    <h2 class="color-green">Renovationen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odio modi exercitationem aliquid sint magni qui, omnis distinctio blanditiis officia, voluptas quisquam animi iste magnam accusamus, eos veniam non praesentium?
                    </p>
                </div>
            </a>
        </article>
        <div class="flex-item">
            <ul class="bg-white news">
                <li><a href="#">
                        <article>
                            <time><span class="news--day">23</span><span class="news--month">okt</span></time>
                            <div>
                                <h2>Weihnachtsmarkt</h2>
                                <p>Lützelflüh</p>
                            </div>
                        </article>
                    </a></li>
                <li><a href="#">
                        <article>
                            <time><span class="news--day">23</span><span class="news--month">okt</span></time>
                            <div>
                                <h2>Weihnachtsmarkt</h2>
                                <p>Lützelflüh</p>
                            </div>
                        </article>
                    </a></li>
                <li><a href="#">
                        <article>
                            <time><span class="news--day">23</span><span class="news--month">okt</span></time>
                            <div>
                                <h2>Weihnachtsmarkt</h2>
                                <p>Lützelflüh</p>
                            </div>
                        </article>
                    </a></li>
            </ul>
        </div>
        <article class="flex-item shrink-1">
            <div class="flex-content flex-teaser bg-smoke bigger box">
                <address class="module">
                    <p>
                        <strong>Schreinerei Gfeller</strong><br>
                        <span>Sumiswaldstrasse 73</span><br>
                        <span>3452 Grünenmatt</span>
                    </p>
                    <p>
                        <span>Tel 034 431 36 77</span><br>
                        <span>Fax 034 431 36 77</span>
                    </p>
                    <p>
                        <a class="nowrap" href="mailto:info@schreinerei-gfeller.ch">info@schreinerei-gfeller.ch</a>
                    </p>
                    <p>
                        <strong>Öffnungszeiten:</strong><br>
                        <span>Mo-Fr: 08-12 &amp; 13-17</span>
                    </p>
                </address>
                <p class="flex-teaser--bottom">
                    <a class="social-link" href="https://plus.google.com/+SchreinereiGfellerL%C3%BCtzelfl%C3%BCh/posts">
                        <svg class="gfx gfx-google-plus-dims">
                            <use xlink:href="#google-plus"></use>
                        </svg>
                    </a>
                    <a class="social-link" href="https://www.facebook.com/schreinerei.gfeller">
                        <svg class="gfx gfx-facebook-dims">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </p>
            </div>
        </article>
    </div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum adipisci ipsum, voluptatum, tempore ipsam esse! Accusamus rerum perspiciatis minima doloremque dolorum, ipsam in magnam laudantium illo. Libero tempore, tenetur asperiores eum alias quae optio, praesentium perspiciatis veniam consectetur omnis officiis accusamus voluptas nemo, necessitatibus minus deserunt natus eius ut. Suscipit nihil adipisci est eos eveniet accusantium doloremque amet dignissimos ea vero cupiditate, harum repellendus sint quidem excepturi. Explicabo nisi numquam recusandae quisquam iste earum nihil in totam animi impedit mollitia, temporibus aliquid quae repellendus eaque corrupti dolor ipsum odio laudantium illo harum omnis sed debitis ratione vel. Quos, maxime amet? Nemo officia animi illo quos at et eum architecto praesentium itaque voluptates, commodi soluta aspernatur eveniet quod, culpa ipsa facere quas odio aliquam officiis eius, voluptatem tempore beatae! Similique fuga nulla dicta vel, provident. Quidem earum impedit quam, possimus, dicta laudantium voluptate officiis, culpa dolorem sequi corporis consequatur asperiores repellat odit labore. Accusamus earum molestias dicta porro, dolore beatae sequi nobis, cum. Porro impedit dicta obcaecati, quos reprehenderit quidem dolore quia sapiente eveniet dolorem non dolor. Esse beatae hic velit voluptatem doloremque debitis laborum provident ea repellendus expedita obcaecati asperiores sit pariatur facilis neque voluptatum sapiente, consectetur cumque a minima ut. Dolorem, repellendus, officiis. Esse culpa quasi ut tenetur maxime ea harum numquam commodi, quam possimus aliquid totam excepturi asperiores distinctio maiores optio, error, sapiente doloribus! Illum et ipsum a saepe quasi magnam dignissimos officia consectetur fugit maiores quia hic explicabo quam, numquam ut adipisci sapiente sequi, qui, accusamus recusandae consequatur. Debitis laudantium nulla voluptatem repellat ipsa quis ipsum sapiente laboriosam id! Quis, in vitae possimus incidunt rem cupiditate ad quam asperiores sit perferendis vero delectus temporibus non tempore! Vel quo, temporibus sunt quisquam explicabo facilis aspernatur eius quia consequatur sequi harum inventore ullam laborum, nam excepturi cupiditate nemo facere.</p>
</div>