
@{
    ViewBag.Title = "Styleguide";
}

<div class="container bg-white">
    <h1>Styleguide</h1>
    <h2 id="typography">Typography</h2>
    <div class="row">
      <div class="col-sm-4">
        <h3>Headings</h3>
        <h1>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</h1>
        <h2>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</h2>
        <h3>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</h3>
        <h4>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</h4>
        <h5>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</h5>
        <h6>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</h6>
      </div>
      <div class="col-sm-4">
        <h3>Font styles</h3>
        <p>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</p>
        <p><strong>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</strong></p>
        <p><i>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</i></p>
        <p><small>Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</small></p>
        <p><abbr title="Abbreviation">Abbr.</abbr></p>
        <p>20m<sup>2</sup> and H<sub>2</sub>O</p>
        <p>
          <blockquote>Use the force, Harry. <small>-Gandalf</small></blockquote>
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Font families</h3>
        <p style="font-family: sans-serif">Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</p>
        <p style="font-family: serif">Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</p>
        <p style="font-family: monospace">Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.</p>
      </div>
    </div>
    <h2 id="lists">Lists</h2>
    <div class="row">
      <div class="col-sm-4">
        <h3>Unordered list</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
          <li>Item 5</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>Ordered list</h3>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
          <li>Item 5</li>
        </ol>
      </div>
      <div class="col-sm-4">
        <h3>Definition list</h3>
        <dl>
          <dt>Term 1</dt>
          <dd>Definition 1</dd>
          <dt>Term 2</dt>
          <dd>Definition 2</dd>
          <dt>Term 3</dt>
          <dd>Definition 3</dd>
          <dt>Term 4</dt>
          <dd>Definition 4</dd>
          <dt>Term 5</dt>
          <dd>Definition 5</dd>
        </dl>
      </div>
    </div>
    <h3>Table</h3>
    <table>
      <tr>
        <th>#</th>
        <th>Column heading</th>
        <th>Column heading</th>
        <th>Column heading</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
    </table>
    <h2 id="controls">Controls</h2>
    <div class="row">
      <div class="col-sm-6">
        <h3>Buttons</h3>
        <p>
          <button class="bg-brown">Button</button>
        </p>
        <p>
          <input type="button" value="Input[type=&quot;button&quot;]">
        </p>
        <p>
          <input type="submit" value="Input[type=&quot;submit&quot;]">
        </p>
        <p><a class="button">Link [class="button"]</a></p>
      </div>
      <div class="col-sm-6">
        <h3>Input types</h3>
        <p>
            <label>
                <input type="text" placeholder="Text" class="check-content">
                <span>Floating Label</span>
            </label>
        </p>
        <p>
          <input type="email" placeholder="E-Mail">
        </p>
        <p>
          <input type="password" placeholder="Password">
        </p>
        <p>
          <input type="number" placeholder="Number">
        </p>
        <p>
          <input type="date" placeholder="Date">
        </p>
        <p>
          <input type="url" placeholder="Url">
        </p>
        <p>
          <input type="search" placeholder="Search">
        </p>
        <p>
          <input type="color" value="#ffffff">
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <input type="text" placeholder="Textbox" class="check-content">
      </div>
      <div class="col-sm-4">
        <input type="text" placeholder="Textbox" class="error">
        <p class="error">Dis be an error, mon.</p>
      </div>
      <div class="col-sm-4">
        <input disabled type="text" placeholder="Textbox">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <textarea placeholder="Textarea"></textarea>
      </div>
      <div class="col-sm-4">
        <textarea placeholder="Textarea" class="error"></textarea>
        <p class="error">Dis be an error, mon.</p>
      </div>
      <div class="col-sm-4">
        <textarea disabled placeholder="Textarea"></textarea>
      </div>
    </div>
</div>