.flex {
  display: flex;
  min-height: 100%;

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-end {
  align-self: flex-end;
}