img {
	border: none;
	max-width: 100%;
}

hr {
	border: none;
	border-top: 1px solid black;
}

figcaption {
  margin: 0.5em 0;
  font-style: italic;
  font-size: 1em / $bronze;
}

blockquote {
  margin: 1em 0;
  padding-left: 2rem;
  border-left: 3px solid $grey;
  font-style: italic;

  &:before,
  &:after {
    content: '"';
  }
}