*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

img {
	border: none;
	max-width: 100%;
}

p {
	margin: 1.5em 0;
}

strong,
b {
	font-weight: 700;
}

hr {
	border: none;
	border-top: 1px solid black;
}

footer {
	font-size: 1.2rem;
	line-height: 1.5em;
}