html {
  font-size: 10px;
}

body {
  line-height: 1.5em;
  font-family: 'Droid Serif', serif;
  font-size: 1.4rem;

  @include min($xxs) {
    font-size: calc(1.6rem + (1.6 - 1.4) * (100vw - 48rem)/(120-48));
  }

  @include min($m) {
    font-size: 1.6rem;
  }
}

h1 {
  line-height: 1.3em;
  margin: 3em auto 1.5em auto;
  font-size: 3.2rem;

  @include min($xs) {
    font-size: calc(3.2rem + (6.4 - 3.2) * (100vw - 76.8rem) / (192 - 76.8));
  }

  @include min($l) {
    font-size: 6.4rem;
  }
}

.lead {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5em;

  @include min($xs) {
    font-size: calc(1.6rem + (2.4 - 1.6) * (100vw - 76.8rem) / (192 - 76.8));
  }

  @include min($l) {
    font-size: 2.4rem;
  }
}
