<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-4">
      <div class="content">
        <hr>
        <div class="flex space-between">
          <p>
              Schreinerei Gfeller
              <br>
              Sumiswaldstrasse 73
              <br>
              3452 Grünenmatt
              <br>
              <br>
              Tel 034 431 10 91
              <br>
              Fax 034 431 26 60
          </p>
          <p>
              Öffnungszeiten:
              <br>
              Mo &ndash; Fr, 8 bis 17 Uhr
              <br>
              <br>
              <a href="#">Email</a>
              <br>
              <a href="#">Kontakt</a>
              <br>
              <br>
              <a target="_blank" href="@Html.Raw("https://www.google.ch/maps/place/Schreinerei+Gfeller/@47.0083029,7.7202813,17z/data=!3m1!4b1!4m5!3m4!1s0x478fcda14890c4f9:0x72ce0528cf9efecf!8m2!3d47.0083029!4d7.7224753")">Google Maps</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>