<header class="main">
	<div class="container">

		@* Logo *@
		<h1 class="logo">
			<span>Schreinerei Gfeller - Startseite</span>
			<a href="/">
				<img src="/Assets/img/logo.png" alt="">
			</a>
		</h1>

		@* Mobile toggler *@
		<button class="nav-toggler">menu</button>

		@* Navigation *@
		<nav class="main">
			<h1 class="sr-only">Hauptnavigation</h1>
			<ul>
				<li>
					<a href="/produkte">Produkte</a>
				</li>
				<li>
					<a href="/galerie">Galerie</a>
				</li>
				<li>
					<a href="/kontakt">Kontakt</a>
				</li>
				<li class="undertaker">
					<a class="color-blue" href="/bestattungen">Bestattungen</a>
				</li>
			</ul>
		</nav>
	</div>
</header>