<header class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-4">
		  <div class="content flex space-between align-items-center">
		  	<nav class="main-nav h4">
		  	    <a class="active" href="/">Schreinerei</a>
		  	    <a href="/bestattungen">Bestattungen</a>
		  	</nav>
				<a href="/" class="logo">
					<img src="/Assets/img/logo.png" alt="Logo Schreinerei Gfeller">
				</a>
		  </div>
		</div>
	</div>
</header>