<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Schreinerei Gfeller</title>
    @* CSS *@
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400i,700,700i" rel="stylesheet">
    <link href="~/Assets/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="~/favicon.png" rel="icon" type="image/png">
    @RenderSection("css", required:false)
</head>
<body>
    <main>
        <aside></aside>
        <section class="content">
            @RenderBody()
        </section>
    </main>
    @*  JS  *@
    @RenderSection("js", required:false)
</body>
</html>