// Color
$grey: rgba(0,0,0,0.3);
$green: rgb(99,165,39);
$light-green: rgb(197,216,167);
$brown: rgb(116,48,1);
$blue: rgb(0,173,255);
$anthracite: rgb(50,50,50);
$white: white;
$black: black;
$smoke: rgba(200,200,200, 0.5);
$color-map: (('smoke', $smoke, $white),('grey', $grey, $white),('green', $green, $white),('light-green', $light-green, $anthracite),('brown', $brown, $white),('blue', $blue, $white),('anthracite', $anthracite, $white),('white', $white, $anthracite),('black', $black, $white));

// Font
$font-size: 16px;
$line-height: 1.5em;

$regular: 'Droid Serif', Georgia, serif;

// Dimensions
$header-height: 60px;

// Meida queries
$xxs: 480px;
$xs: 768px;
$s: 992px;
$m: 1200px;
$l: 1920px;
$xl: 2560px;