
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section background {
    <div class="background-size-cover fixed hidden-xs fill" style="background-image:url(/Assets/img/blurred.jpg)"></div>
}

<div class="container bg-white box box--big">
	<h1>Produkt - Detail</h1>
	<div class="columns">
		<p>
			<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti inventore consectetur itaque molestias eveniet cumque fugit ipsum sed, recusandae quo eius voluptatem commodi, vitae quasi omnis maxime voluptates, ea porro.</strong>
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit cupiditate maiores veritatis labore nam adipisci eum architecto, molestias quae quod natus nihil ipsam autem sint iure, suscipit quas facere impedit! Expedita ut beatae itaque, commodi eum sint? Dolor, nesciunt, a, esse cupiditate dolores debitis quis odio vel pariatur, fuga rem.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit cupiditate maiores veritatis labore nam adipisci eum architecto, molestias quae quod natus nihil ipsam autem sint iure, suscipit quas facere impedit! Expedita ut beatae itaque, commodi eum sint? Dolor, nesciunt, a, esse cupiditate dolores debitis quis odio vel pariatur, fuga rem.
		</p>
	</div>
	<div style="display:flex">
		<img src="//placehold.it/400x300" alt="">
		<img src="//placehold.it/400x300" alt="">
		<img src="//placehold.it/400x300" alt="">
		<img src="//placehold.it/400x300" alt="">
		<img src="//placehold.it/400x300" alt="">
		<img src="//placehold.it/400x300" alt="">
		<img src="//placehold.it/400x300" alt="">
	</div>
</div>

