@{
    ViewBag.Title = "Willkommen";
}

@section background {
    <div class="background-size-cover fixed hidden-xs fill" style="background-image:url(/Assets/img/blurred.jpg)"></div>
}

<div class="container">
    <div class="flex-grid fixed-width">
    	<article class="flex-item">
    		<div class="color-white">
	    		<h1>Produkte</h1>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nemo repellat provident nostrum similique repudiandae nihil laborum, voluptatibus architecto, fugit corrupti vero deserunt obcaecati autem numquam tempore suscipit sequi hic incidunt molestias beatae facere qui iure doloribus. Rerum nostrum libero ducimus harum ut, ipsa, at itaque! Veritatis provident, quis mollitia.</p>
    		</div>
    	</article>
        <article class="flex-item">
            <a href="/Produkte/Detail" class="flex-content bg-white hover">
                <img src="/Assets/img/locker.jpg" alt="">
                <div class="box">
                    <h2 class="color-green">Renovationen</h2>
                    <p>Detailtext lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, et?</p>
                </div>
            </a>
        </article>
        <article class="flex-item">
            <a href="#" class="flex-content bg-white hover">
                <img src="/Assets/img/locker.jpg" alt="">
                <div class="box">
                    <h2 class="color-green">Renovationen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odio modi exercitationem aliquid sint magni qui, omnis distinctio blanditiis officia, voluptas quisquam animi iste magnam accusamus, eos veniam non praesentium?
                    </p>
                </div>
            </a>
        </article>
        <article class="flex-item">
            <a href="#" class="flex-content bg-white hover">
                <img src="/Assets/img/locker.jpg" alt="">
                <div class="box">
                    <h2 class="color-green">Renovationen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odio modi exercitationem aliquid sint magni qui, omnis distinctio blanditiis officia, voluptas quisquam animi iste magnam accusamus, eos veniam non praesentium?
                    </p>
                </div>
            </a>
        </article>
        <article class="flex-item">
            <a href="#" class="flex-content bg-white hover">
                <img src="/Assets/img/locker.jpg" alt="">
                <div class="box">
                    <h2 class="color-green">Renovationen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odio modi exercitationem aliquid sint magni qui, omnis distinctio blanditiis officia, voluptas quisquam animi iste magnam accusamus, eos veniam non praesentium?
                    </p>
                </div>
            </a>
        </article>
    </div>
</div>